@import './base.css';

#app,html,body {
  width: 100%;
  height: 100%;
}


body{
  background-color: #f5f7f9;
}

.anticon svg { 
  vertical-align: baseline; 
} 
.ant-btn-primary { 
  background-color: #1677ff; 
} 
.ant-btn-default, .ant-btn-dashed { 
  background-color: white; 
}
